.sortable {
    cursor: pointer;
    color: rgb(238, 238, 70);
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #535353;
}

.header-row {
    background: rgb(111, 155, 199);
    color: rgb(255, 255, 255)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}